body{
    min-height: 400px;
    margin-bottom: 100px;
}

.container {
    width: 1326px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    /* background-color: chartreuse; */
}

.input-bar {
    padding: 0.5% 0%;
    width: 100%;
    background-color: #EEEEEE;
}

.footer > *{
    margin-top: 2px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.left-footer {
    flex-basis: 37%;
    padding: 0.5% 0%;
    background-color: #7EE5DA;
}

.mid-footer {
    flex-basis: 20%;
    margin-left: 2px;
    font-size: 0.8em;
    padding: 0.5% 0%;
    background-color: #70CCC2;
}

.right-footer {
    flex: 1;
    margin-left: 2px;
    padding: 0.5% 0%;
    background-color: #62B3AA;
    font-size: 0.8em;
}

.copyright-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.78em;
    height: 2.5rem;
    text-align: center;
}